    /*Estilos para toda a página */
    * {
        box-sizing: border-box;
        scroll-behavior: smooth;
        margin: 0;
    }
    
    body {
        background-color:#1B2223;
        color: #fff;
        font-family: 'Raleway', sans-serif;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
    h2  {
        text-align: center;
        margin: 40px ;
        width: 100%;
        font-weight: 400;
        font-size: 3em;
    }

    .fa-brands {
        color: #3aa394;
    }

    /* Fim dos estilos para toda a página */
    
    /*Estilos do header*/
    .logo {
        font-size: 35px;
    }
    
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        z-index: 999;
        background-color: #151515;
        font-weight: bold;
        font-size: 18px;
        border-bottom: 2px solid #444444;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 calc((100vw - 1280px) / 2);
    }
    
    .list {
        list-style: none;
        display: flex;
        gap: 40px;
    }
    
    .nav-item {
        position: relative;
        transition: 0.4s all ease;
    }
    
    .hamburguer {
        display: none;
        color: #fff;
        font-size: 2rem;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
    }
    /* Fim dos Estilos do header*/
    
    /*Bloco "Home"*/
    #home {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 170px 0;
        padding: 0 calc((100vw - 1280px) / 2);
        height: 600px;

    }
    
    .home-left {
        flex: 60%;
        height: auto;
        padding-left: 5%;
    }
    
    .welcome {
        font-weight: 400;
        font-size: 30px;
        margin: 15px 0;
    }
    
    .home-right {
        flex: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .mateus-avatar {
        max-width: 60%;
        height: auto;
        transform: translateX(0px);
        animation: float 5s ease-out infinite;
    }

    /*Efeito float do mateus-avatar*/
    @keyframes float {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-50px);
        }
        100% {
            transform: translateY(0px);
        }
    }
    /*Fim do Efeito float do mateus-avatar*/
    
    .card-container {
        display: flex;
        gap: 5px;
        margin-top: 4px;
    }
    
    .avatar-smartphone {
        display: none;
    }
    
    .card {
        width: 70px;
        height: 70px;
        transition: transform 0.8s ease-in-out;
        transform-style: preserve-3d;
    }
    
    .card.flipped {
        transform: rotateY(180deg);
    }
    
    .card-front,
    .card-back {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 10%;
        font-family: 'Mitr', sans-serif;
        font-size: 40px;
        font-weight: 600;
        backface-visibility: hidden;
    }
    
    .card-front {
        border: 2px solid #4C4347;
    }
    
    .card-back {
        transform: rotateY(180deg);
        background-color: #3aa394;
        
    }
    
    .btn-div {
        display: flex;
    }
    
    .button {
        padding: 12px;
        border: 2px solid #3aa394;
        border-radius: 15px;
        font-size: 1.4rem;
        text-align: center;
    }
    
    .button:nth-child(2) {
        margin: 0 5%;
    }
    /*Fim do Bloco "Home"*/

    

    /*Bloco "Sobre mim"*/
    #aboutme {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: #151515;
        padding: 70px calc((100vw - 1280px) / 2);
    }

    #slides {
        overflow: hidden;
        width: 90%;
        font-size: 1.3em;
    }
    
    .input-slider {
        display: none;
    }

    #slide1:checked ~ #slides .slider-inner {
        margin-left: 0;
    }

    #slide2:checked ~ #slides .slider-inner {
        margin-left: -100%;
    }

    #slide3:checked ~ #slides .slider-inner {
        margin-left: -200%;
    }

    #slide4:checked ~ #slides .slider-inner {
        margin-left: -300%;
    }

    .slider-inner {
        transition:ease-in-out 0.70s;
        width: 400%;
        height: 100%;
        display: flex;
    }

    .slide {
        width: 25%;
        float:left;
        display: flex;
        align-items: center;
    }

    .slide-left {
        width: 35%;
        padding: 30px;
    }

    .last-slide{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
    }

    .last-slide a {
        margin: 20px auto;
        padding: 15px;
        border: 2px solid #3aa394;
        border-radius: 15px;
        text-align: center;
        font-weight: bold;     
    }

    .slide-arrow {
        display: none;
        transition: all 0.4s;
        font-size: 2.5em;
    }

    #controls {
        width: 95%;
        font-size: 2.5em;
    }

    #controls label {
        display: none;
        transition: all 0.4s;
    }

    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1) {
        float:right;
        margin-top: -185px;
        display: block;

    }

    #slide1:checked ~ #controls label:nth-last-child(1),
    #slide2:checked ~ #controls label:nth-last-child(4),
    #slide3:checked ~ #controls label:nth-last-child(3),
    #slide4:checked ~ #controls label:nth-last-child(2) {
        float:left;
        margin-top: -185px;
        display: block;
        transform: scaleX(-1);
    }


    #bullets {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }

    #bullets label {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius:100%;
        background: #fff;
        margin: 0 10px;
        cursor: pointer;
    }

    #slide1:checked ~ #bullets label:nth-child(1),
    #slide2:checked ~ #bullets label:nth-child(2),
    #slide3:checked ~ #bullets label:nth-child(3),
    #slide4:checked ~ #bullets label:nth-child(4) {
        background: #3aa394;
    }
    /*Fim do Bloco "Sobre mim"*/

    /* Bloco "Projetos"*/
    #projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 1000px;
        padding: 70px calc((100vw - 1280px) / 2);
    }

    /*Fim do bloco "Projetos"*/ 

    /*Estilos para telas de 1280px a 769px*/    
    @media (max-width: 1280px) {
        .navbar{
                padding: 0px calc((100vw - 769px) / 2);
        }

        #home,
        #aboutme,
        #projects,
        #contacts {
            padding: 70px calc((100vw - 769px) / 2);
        }

        .card {
            width: 50px;
            height: 50px;
        }

        .card-front,
        .card-back {
            font-size: 30px;
        }

        .welcome {
            font-size: 20px;
            margin: 10px 0;
        }

        .button {
            font-size: 1.2em;
        }
        
        #slides {
            font-size: 1em;
        }

        .last-slide-img {
            margin-bottom: 50px;
        }

        #slide1:checked ~ #controls label:nth-child(2),
        #slide2:checked ~ #controls label:nth-child(3),
        #slide3:checked ~ #controls label:nth-child(4),
        #slide4:checked ~ #controls label:nth-child(1),
        #slide1:checked ~ #controls label:nth-last-child(1),
        #slide2:checked ~ #controls label:nth-last-child(4),
        #slide3:checked ~ #controls label:nth-last-child(3),
        #slide4:checked ~ #controls label:nth-last-child(2){
        margin-top: -220px;
        }

    }
    /*Fim dos Estilos para telas de 1280px a 769px*/
    
    /*Estilos em telas superiores a 769px*/
    @media (min-width: 769px) {

        .button:hover .fa-brands{
            color: #fff;
            transition: ease-in-out 0.5s;
            transform: scale(1.1);
        }

        .nav-item:hover {
            color: #a7a7a7;
            transition: 0.4s all ease;
        }
        
        .nav-item::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scale(0);
            height: 2px;
            bottom: -5px;
            left: 0;
            background-color: #3aa394;
            transform-origin: center;
            transition: transform 0.4s ease-out;
        }
        
        .nav-item:hover::after {
            transform: scaleX(1);
            transform-origin: center
        }

        .last-slide a:hover, .button:hover{
            background-color: #3aa394;
            transition: ease-in-out 0.5s;
            transform: scale(1.1);
        }

        #controls label:hover {
        color: #3aa394;
    }
    }

    /*Fim dos Estilos em telas superiores a 768px*/

    /*Estilos para telas de 768px em diante (smartphones)*/
    @media (max-width: 768px) {

        .navbar{
            padding: 0px 5%;
        }

        #home,
        #aboutme,  
        #projects,
        #contacts {
            padding: 70px 5% ;
        }
        .hamburguer {
            display: block;
        }
        .list {
            position: fixed;
            top: -100%;
            width: 100%;
            right: 0;
            border-radius: 0 0 20px 20px;
            text-align: center;
            background-color: inherit;
            flex-direction: column;
            transition: 0.7s;
            z-index: 2;
            background-color: #151515;
        }
        .list.active {
            top: 70px;
            padding: 15px;
        }
        .nav-item {
            font-size: 1.6rem;
            padding: 20px;
        }
        .home-left {
            width: 100%;
            padding: 0;
            margin-top: 100px;
        }
        .avatar-smartphone {
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(100vw/7);
            height: calc(100vw/7);
        }
        .avatar-smartphone img {
            width: 70%;
        }
        #home {
            align-items: start;
            margin-top: 20%;
            height: auto;
        }
        .home-right {
            display: none;
        }
        .card {
            width: calc(100vw/7);
            height: calc(100vw/7);
        }
        .card-front,
        .card-back, h2 {
            font-size: 8vw;
        }
        .card-front {
            border: 2px solid #4C4347;
        }
        .welcome {
            font-size: 4vw;
        }

        .btn-div{
            font-size: 3vw;
        }

        .button {
            width: 33vw;
        }
        .button i {
            width: 100%;
        }

        #slides {
            font-size: 3vw;
        }

        .slide-left {
            padding: 5px;
        }

        iframe {
            width: 40%;
            height: auto;
            padding: 0;
        }

        .last-slide-img {
            margin-bottom: 10vh;
        }

        #controls {
            width: 100vw;
        }

        #slide1:checked ~ #controls label:nth-child(2),
        #slide2:checked ~ #controls label:nth-child(3),
        #slide3:checked ~ #controls label:nth-child(4),
        #slide4:checked ~ #controls label:nth-child(1),
        #slide1:checked ~ #controls label:nth-last-child(1),
        #slide2:checked ~ #controls label:nth-last-child(4),
        #slide3:checked ~ #controls label:nth-last-child(3),
        #slide4:checked ~ #controls label:nth-last-child(2){
        margin-top: -25vh;
        }

    }
    /* Fim dos Estilos para telas de 768px em diante (smartphones)*/